<div class="card p-3 shadow-effect">
  <h3 class="text-center">SUBSCRIPTION FORM</h3>
  <p class="text-center">Lorem ipsum dicta at sint autem similique velit id beatae nemo deserunt cupiditate?</p>
  <div class="container justify-content-center">
    <form class="form-inline mb-5 mt-3">
      <div class="form-group col-md-5" >
        <input type="text" placeholder="Your Name" class="form-control shadow-effect">
      </div>
      <div class="form-group col-md-5" >
        <input type="email" placeholder="Your Email" class="form-control shadow-effect">
      </div>
      <div class="form-group col-md-2">
        <button class="btn shadow-effect btn-theme">SUBSCRIBE</button>
      </div>
    </form>
    </div>
</div>