<div class="mt-5">
  <div class="card shadow-effect p-3">
    <div>
      <h3>Leave a Comment</h3>
      <p>You can leave a comment using a comment form</p>
    </div>
    <form class="form-group">
      <div>
        <label>Name</label>
        <input type="text" class="form-control shadow-effect">
      </div>
      <div class="mt-2">
        <label>Comment</label>
        <textarea class="form-control shadow-effect" rows="10"></textarea>
      </div>
    </form>
    <div>
      <button class="btn btn-theme">Add a comment</button>
    </div>
    
  </div>
</div>