<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card shadow-effect">
          <img
            src="{{singlePostData.postImgPath}}"
            alt="image.png"
          />
          <div class="card-body">
            <div class="row">
              <small class="bg-light text-danger text-center ml-3"
                >{{singlePostData.category.category}}</small
              >
              <small class="bg-light text-success text-center ml-3" *ngIf="singlePostData.isFeatured"
                >Featured</small
              >
              <small class="bg-light text-info text-center ml-3"
                >View - {{singlePostData.views}}</small
              >
              <small class="bg-light text-warning text-center ml-3"
                >Last Updated - {{singlePostData.createdAt.toMillis() | date}}</small
              >
            </div>
            <h2 class="mt-2">
              {{singlePostData.title}}
            </h2>
            <p class="mt-2" [innerHTML]="singlePostData.content">
             
            </p>
          </div>
        </div>
        <app-comment-form></app-comment-form>
        <app-comment-list></app-comment-list>
      </div>
      <div class="col-md-3">
        <div class="mt-2" *ngFor="let data of similarPostArray">
          <app-post-card [postData]="data"></app-post-card>
        </div>
        </div>
      </div>
    </div>
</section>
